@charset "UTF-8";
main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 1000px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

/* 카테고리 부분 */
.content-category-outer{
    margin-left: 80px;
    text-align: left;
    margin-bottom: 30px;
}
.container-title{
	font-size : 30px;
    font-weight: 550;
}
.categoryName{
    font-size : 20px;
    margin-bottom: 50px;
}

/* 제목 부분 */
.content-input-outer{
   text-align: center;
   margin-top: 10px;
   margin-bottom: 10px;
}
.input-title{
    font-size: 25px;
    font-weight: 700;
    width: 85%;
    border: 0;
    font-weight: 550;
    /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); */
    padding-top: 10px;
}
.content-input-outer hr{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 85%;
}

/* ---------- 내용 ---------- */
.content-outer {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* textarea */
.content-inner{
    box-sizing: border-box;
    width: 85%;
    padding: 20px;
    height: 100%;
    min-height: 300px;
    font-size: 15px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    resize: none;
    border: 0;

}

/* 수정 목록 삭제 버튼 */
.post-buttons{
    margin-top: 20px;
    margin-bottom: 20px;
}
.post-buttons button{
    cursor: pointer;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: 0;
    margin: 5px;
}
.post-buttons button a{
    color: rgb(63, 63, 63);
}