@charset "UTF-8";
main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 1000px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

/* 카테고리 부분 */
.content-category-outer{
    margin-left: 30px;
    text-align: left;
    margin-bottom: 50px;
}
.container-title{
	font-size : 25px;
    font-weight: 550;
    margin-bottom : 10px;
}
.categoryName{
    font-size : 16px;
    margin-bottom: 30px;
}

/* 제목입력 부분 */
.content-input-outer{
   text-align: center;
   margin-top: 10px;
   margin-bottom: 10px;
}
.input-title{
    font-size: 25px;
    font-weight: 700;
    width: 820px;
    border: 0;
    font-weight: 550;
    padding-top: 10px;
}
.content-input-outer hr{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 820px;
    
}

/* ---------- 내용 ---------- */
.content-outer {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 파일등록부분  */
.file-input-outer{
	display: flex;
    flex-direction: column;
    margin : 10px;
    width : 820px;
    font-size : 14px;
    color: rgb(63, 63, 63);
}
.file-input-outer span{
	margin-bottom:10px;
}

/* 수정 목록 삭제 버튼 */
.post-buttons{
    margin-top: 40px;
    margin-bottom: 20px;
}
.post-buttons button{
    cursor: pointer;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: 0;
    margin: 5px;
}
.post-buttons button a{
    color: rgb(63, 63, 63);
}