@charset "UTF-8";
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
	 font-family: 'Noto Sans KR', sans-serif; 
}
.container{
    width: 1000px;
    margin-top: 10px;
    margin-bottom: 30px;
/*     box-shadow: 0 0 2px rgba(0, 0, 0, 0.1); */
    padding: 45px;
}

/* 제목 부분 */
.content-title-outer {
/* 	border-top: 1px solid #9b9b9b; */
	text-align: start;
	margin-top: 10px;
	padding: 7px 25px;
}
.content-title-outer p {
    font-size: 27px;
    font-weight: 650;
/*     text-align: center; */
    margin-bottom : 45px;
    margin-top : 2px;
}
.content-title-outer span{
    text-align: left;
    margin: 2px;
    font-size : 14px;
    color : rgb(79, 79, 79);
    font-weight : 700;
}
.content-title-outer .title-count{
	margin-right : 5px;
	font-weight : 400;
}

/* ---------- 내용 ---------- */
.toast-custom-viewer{
	font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    width: 80%;
    padding: 20px;
    height: 100%;
    min-height: 300px;
    border: 0;
    font-size: 15px;
    /* resize: none; */
}
.toast-custom-viewer img{
	max-width : 100%;
	height : auto;
}

.content-outer {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 이미지-첨부파일 부분 */
.content-attach-outer {
	position: relative;
	box-sizing: border-box;
	font-size: 14px;
	width: 97%;
	height: 50px;
	margin: 13px auto;
	display: flex;
	border-top: 1px solid #c0c0c0; border-bottom: 1px solid #c0c0c0;
	background-color: rgb(249, 249, 249);
	align-items: center;
}

.content-attach-inner{ margin-left : 35px; }
.content-attach-inner p{ 
/*     text-align : center; */

	color : white; 
    position: absolute;
    top: 0px;
/*     left: 20px; */
/*     width: 75px; */
/*     height: 25px; */
/*     line-height: 25px; */
    width: 120px;
    height: 35px;
    background: url(../../image/pledgeImg/label_blue.png) no-repeat 0 0;
	}
.content-attach-inner a{
	color : rgb(79, 79, 79); 
	margin-left : 10px;
	position: absolute;
	left: 120px;
	}
.content-attach-inner span{
	margin-left : 7px;
	color : #575757;
}

/* 수정 목록 삭제 버튼 */
.post-buttons{
    margin-top: 20px;
    margin-bottom: 20px;
}
.post-buttons button{
    cursor: pointer;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: 0;
    margin: 5px;
}
.post-buttons button a { color: rgb(63, 63, 63); }

/* ---------- 댓글 ---------- */
.reply-outer-top-area{
    height: 30px;
    line-height: 30px;
    margin-left: 20px;
    font-size: 20px;
}

.reply-outer {
    background-color: #fff;
    padding: 30px;
}
.reply_title {
    font-size: 17px;
    font-weight: bold;
    color: #333;
    margin-right: 10px;
}

.reply_count {
	font-weight : 500;
    font-size: 16px;
    color: #555;
    margin-left: 10px;
}

/* 댓글 표 */
.reply-outer-content-area table{
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    width: 935px;
    margin : 10px auto;
}
.reply-table-title{
    background-color: #73cc73;
    color: white;
}
.reply-table tr th{
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
    font-size : 14px;
}
.reply-table tr,td{ 
    padding: 3px;
    margin : 3px;
    border-bottom: 1px solid rgb(227, 227, 227);
}
.reply-table th:nth-child(1){  width: 200px; }
.reply-table th:nth-child(2){  width: 600px; }
.reply-table th:nth-child(3){  width: 200px; }
.reply-table p{ white-space: pre-line; }

/* 댓글 작성 */
.comment-section {
    box-sizing: border-box;
    display: flex;
    margin-top: 10px;
    margin-bottom: 18px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 16px 23px;
    background-color: #f9f9f9;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}
.comment-section textarea{
    border-radius: 1px;
    border: 1px solid #b3b3b3;
    outline : none;
    font-family: 'Noto Sans KR', sans-serif; 
}
.comment-input {
    margin-bottom: 10px;
    height: 43px;
    width: calc(100% - 90px); /* 등록 버튼의 너비를 고려하여 입력 필드의 너비를 조정합니다. */
    display: inline-block;
}
/* 댓글 등록  */
.comment-button {
    padding: 5px 15px;
    background-color: #82d782;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 2px;
}


/* 댓글 수정삭제버튼 */
.comment-buttons{
    display: flex;
    /* padding: 6px 15px; */
    justify-content: flex-end;
    margin-top: -20px;
    margin-right : 6px;
}
.comment-buttons button{
    cursor: pointer;
    background-color: #82d782;
    
    border: 0;
    color: white;
    width: 45px;
    padding: 3px;
    margin-right: 5px;
    border-radius: 5px;
}


/* ----- 페이징 버튼 ----- */
.paging-button{
    margin-top: 23px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.pagingBtn{
    border-radius: 50%;
    width: 33px;
    height: 33px;
    font-size: 14px;
    border: 0;
    cursor: pointer;
    margin: 4px;
    font-weight: 550;
    background-color: rgb(143, 214, 143);
    color : white;
}
.pagingBtn:hover{
    background-color: rgb(99, 199, 99);
    /* transition: all 0.2s; */
}

