@charset "UTF-8";
main {
    display: flex;
    flex-direction: column;
}


/* ------ 실천서약 타이틀 부분 ------ */
.practice-section {
    height: 150px;
    width: 100%;
    background-color: #73cc73;
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.practice-section p:first-child {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 0px;
}

.practice-section p:nth-child(2) {
    margin-top: 10px;
    font-size: 18px;
}


/* ------ 참여현황 count ------*/
.participant-section{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 60px 0;
    color: rgb(98, 98, 98);
    width: 100%;
    font-weight: 550;
    font-size: 25px;
    justify-content: center;
}
.participant-section-outer{
    width: 400px;
    padding: 30px;
    border: 3px solid #b5dab5;
}

.participant-section p {
    margin: 0;
}

.participant-count {
    font-weight: bold;
    font-size: 30px;
    color: rgb(84, 168, 84);
    /* color: rgb(255, 136, 0); */
}


/* ------ 실천서약 게시글 ------ */
.content-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}
.content-section-outer{
    width: 1300px;
}

.content-outer{
    width: 100%;
    position: relative;
    z-index: 1;
}
/* 실천 탭 */
.content-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.content-tab{
    text-align: center;
}
.content-tab span {
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    padding: 15px;
    padding-bottom: 20px;
    margin-right: auto; /* span을 왼쪽에 붙이기 */
    background-color: rgb(200, 200, 200);
    color: white;
    text-align: center;
    border-radius: 10px;
    width: 140px;
    display: inline-block;
}

/* 검색 */
#board-search-filter-select{
	height : 34px;
	width : 110px;
	border: 1px solid #cdcfd2;
/* 	margin-right : -5px; */
}

.content-search{
    position: relative;
}
.content-title input {
    margin-left: auto; /* input을 오른쪽에 붙이기 */
    height: 34px;
    width: 250px;
    border: 1px solid #cdcfd2;
    padding: 7px 0.5em;
    padding-left: 10px;
    font-size: 13px;
    color: #333;
    margin-bottom: 20px;
}
.board-search-button{
    position: absolute;
    display: inline-block;
    border: none;
    right: 15px;
    top: 4px;
    background-color: transparent;
}
.content-search #searchButton{
    display: inline-block;
    border: none;
    overflow: hidden;
    font-size: 25px;
    width: 20px;
    height: 100%;
    background-color: transparent;
    color: #333;
    padding: auto !important;
    margin: auto;
}

/* ----- 이미지 부분 ----- */
.content-outer {
    box-sizing: border-box;
    padding: 30px;
    background-color: white;
    width: 100%;
    border: 2px solid #5bbf5b;
    overflow: hidden;
    text-align: center;
    z-index: 2;
    top: -10px;
}

.img-area {
    width: 22%;
    height: 270px;
    box-sizing: border-box;
    display: inline-block;
    margin: 15px;
    overflow: hidden;
}

.content-img {
    box-sizing: border-box;
    width: 270px;
    height: 270px;
    min-width: 100%; 
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    cursor: pointer;
    object-fit : cover;
}

.img-area:hover .content-img{
    transform: scale(1.15);
    transition: transform 0.4s ease-in-out;
}
.img-area:hover{
    border: 4px solid #78d078;
}


/* ----- 페이징 버튼 ----- */
.paging-button{
    margin-top: 22px;
    margin-bottom: 5px;
}

.pagingBtn{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 15px;
    border: 0;
    cursor: pointer;
    margin: 2px;
    font-weight: 500;
    background-color: #73cc73;
    color: white;
}

/* 등록하기 버튼 */
/* .insert-area{
    display: flex;
} */
#insertButton{
    margin-top: 30px;
    background-color: rgb(191, 187, 187);
    color: white;
    border: 0;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    margin-left: 1100px;
}