<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">
	<select id="allMember" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE GRADE_NO != 1 AND STATUS = 'Y'
	</select>
	<select id="allBoard" resultType="int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE STATUS = 'Y'
	</select>
	<select id="newMember" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE TRUNC(CREATE_DATE) = TRUNC(SYSDATE) AND STATUS = 'Y'
	</select>
	<select id="oldMember" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE TRUNC(CREATE_DATE) = TRUNC(SYSDATE - 1) AND STATUS = 'Y'
	</select>
</mapper>