<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">
	<select id="allMemberCount" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE GRADE_NO != 1 AND STATUS = 'Y'
	</select>
	<select id="allBoardCount" resultType="int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE STATUS = 'Y'
	</select>
	<select id="newMemberCount" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE TRUNC(CREATE_DATE) = TRUNC(SYSDATE) AND STATUS = 'Y'
	</select>
	<select id="oldMemberCount" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE TRUNC(CREATE_DATE) = TRUNC(SYSDATE - 1) AND STATUS = 'Y'
	</select>
	<select id="getMemberChartsData" resultType="member">
		SELECT dates.orderDay, NVL(COUNT(M.CREATE_DATE), 0) AS countMember
		FROM (
		    SELECT TO_CHAR(TRUNC(SYSDATE) - LEVEL + 1, 'YYYY-MM-DD') AS orderDay
		    FROM DUAL
		    CONNECT BY LEVEL &lt;= 7
		) dates
		LEFT JOIN MEMBER M ON TO_CHAR(M.CREATE_DATE, 'YYYY-MM-DD') = dates.orderDay
		GROUP BY dates.orderDay
		ORDER BY dates.orderDay
	</select>
	<select id="getBoardChartsData" resultType="board">
		SELECT dates.orderDay, NVL(COUNT(P.CREATE_DATE), 0) AS countBoard
		FROM (
		    SELECT TO_CHAR(TRUNC(SYSDATE) - LEVEL + 1, 'YYYY-MM-DD') AS orderDay
		    FROM DUAL
		    CONNECT BY LEVEL &lt;= 7
		) dates
		LEFT JOIN POST P ON TO_CHAR(P.CREATE_DATE, 'YYYY-MM-DD') = dates.orderDay
		GROUP BY dates.orderDay
		ORDER BY dates.orderDay
	</select>
	<select id="getCommentChartsData" resultType="comment">
		SELECT dates.orderDay, NVL(COUNT(C.CREATE_DATE), 0) AS countComment
		FROM (
		    SELECT TO_CHAR(TRUNC(SYSDATE) - LEVEL + 1, 'YYYY-MM-DD') AS orderDay
		    FROM DUAL
		    CONNECT BY LEVEL &lt;= 7
		) dates
		LEFT JOIN "COMMENT" C ON TO_CHAR(C.CREATE_DATE, 'YYYY-MM-DD') = dates.orderDay
		GROUP BY dates.orderDay
		ORDER BY dates.orderDay
	</select>
	<select id="getNCChartsData" resultType="nestedComment">
		SELECT dates.orderDay, NVL(COUNT(NC.CREATE_DATE), 0) AS countComment
		FROM (
		    SELECT TO_CHAR(TRUNC(SYSDATE) - LEVEL + 1, 'YYYY-MM-DD') AS orderDay
		    FROM DUAL
		    CONNECT BY LEVEL &lt;= 7
		) dates
		LEFT JOIN NESTED_COMMENT NC ON TO_CHAR(NC.CREATE_DATE, 'YYYY-MM-DD') = dates.orderDay
		GROUP BY dates.orderDay
		ORDER BY dates.orderDay
	</select>
	
	<select id="getMemberList" resultType="member">
		SELECT USER_NO, USER_EMAIL, USER_NAME
		FROM MEMBER
	</select>
	<select id="getCountAllMember" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE STATUS = 'Y'
	</select>
	<select id="getMemberDetail" resultType="member">
		SELECT *
		FROM MEMBER M
		LEFT JOIN ROLE R ON M.ROLE_NO = R.ROLE_NO
		LEFT JOIN USER_GRADE UG ON UG.GRADE_NO = M.GRADE_NO
		LEFT JOIN POINT P ON M.USER_NO = P.USER_NO
		WHERE M.USER_NO = #{userNo}
	</select>
	<select id="memberCountBoard" resultType="int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE USER_NO = #{userNo}
	</select>
	<select id="memberCountComment" resultType="int">
		SELECT COUNT(*)
		FROM "COMMENT" C
		JOIN NESTED_COMMENT NC ON C.USER_NO = NC.USER_NO
		WHERE C.USER_NO = #{userNo}
	</select>
	<select id="getMemberBoardList" resultType="board">
		SELECT TITLE, BC.BIG_CATEGORY_NAME, S.SUB_CATEGORY_NAME
		FROM BOARD B
		LEFT JOIN POST P ON B.POST_NO = P.POST_NO
		LEFT JOIN SUB_CATEGORY S ON B.SUB_CATEGORY_NO = S.SUB_CATEGORY_NO
		LEFT JOIN BIG_CATEGORY BC ON S.BIG_CATEGORY_NO = BC.BIG_CATEGORY_NO
		WHERE B.USER_NO = #{userNo}
	</select>
	<select id="getMemberBoardDetail" resultType="board">
		SELECT TITLE, CONTENT, CREATE_DATE, MODIFY_DATE
		FROM BOARD B
		LEFT JOIN POST P ON B.POST_NO = P.POST_NO
		WHERE B.BOARD_NO = #{boardNo}
	</select>
	<select id="getMemberCommentList" resultType="board">
		SELECT TITLE, BC.BIG_CATEGORY_NAME, S.SUB_CATEGORY_NAME, COMMENT_NO, NESTED_COMMENT_NO
		FROM BOARD B
		LEFT JOIN POST P ON B.POST_NO = P.POST_NO
		LEFT JOIN SUB_CATEGORY S ON B.SUB_CATEGORY_NO = S.SUB_CATEGORY_NO
		LEFT JOIN BIG_CATEGORY BC ON S.BIG_CATEGORY_NO = BC.BIG_CATEGORY_NO
		LEFT JOIN COMMENT C ON C.BOARD_NO = B.BOARD_NO
		JOIN NESTED_COMMENT NC ON NC.COMMENT_NO = C.COMMENT_NO
		WHERE C.USER_NO = #{userNo} OR NC.USER_NO = #{userNo}
	</select>
	<select id="getMemberCommentDetail" resultType="board">
		SELECT TITLE, CONTENT, CREATE_DATE, MODIFY_DATE
		FROM BOARD B
		LEFT JOIN POST P ON B.POST_NO = P.POST_NO
		WHERE B.BOARD_NO = #{boardNo}
	</select>
	<select id="getCommentDetail" resultType="board">
		SELECT BOARD_NO, TITLE, P.CONTENT, C.CREATE_DATE, C.MODIFY_DATE, C.CONTENT AS commentContent
		FROM BOARD B
		LEFT JOIN POST P ON B.POST_NO = P.POST_NO
		LEFT JOIN COMMENT C ON B.BOARD_NO = C.BOARD_NO
		WHERE COMMENT_NO = #{commentNo}
	</select>
	<select id="getNestedCommentDetail" resultType="board">
		SELECT BOARD_NO, TITLE, P.CONTENT, NC.CREATE_DATE, NC.MODIFY_DATE, NC.CONTENT AS commentContent
		FROM BOARD B
		LEFT JOIN POST P ON B.POST_NO = P.POST_NO
		LEFT JOIN COMMENT C ON B.BOARD_NO = C.BOARD_NO
		LEFT JOIN NESTED_COMMENT NC ON C.COMMENT_NO = NC.COMMENT_NO
		WHERE NESTED_COMMENT_NO = #{nestedCommentNo}
	</select>
	<select id="getMemberPointList" resultType="pointHistory">
		SELECT *
		FROM POINT_HISTORY
		WHERE USER_NO = #{userNo}
	</select>
	<select id="memberPointCount" resultType="int">
		SELECT COUNT(*)
		FROM POINT_HISTORY
		WHERE USER_NO = #{userNo}
	</select>
	<select id="getMemberReportList" resultType="report">
		SELECT *
		FROM REPORT
		WHERE USER_NO = #{userNo)
	</select>
	<select id="BigCategoryList" resultType="bigCategory">
		SELECT *
		FROM BIG_CATEGORY
	</select>
	<select id="getSubCategoryList" resultType="subCategory">
		SELECT *
		FROM SUB_CATEGORY
		WHERE BIG_CATEGORY_NO = #{bigCategoryNo}
	</select>
	<select id="loadBoardListData" resultType="Board">
		SELECT *
		FROM BOARD B
		LEFT JOIN POST P ON P.POST_NO = B.POST_NO
		WHERE B.SUB_CATEGORY_NO = #{subCategoryNo}
	</select>
	<select id="loadBoardDetailData" resultType="post">
		SELECT *
		FROM POST P
		LEFT JOIN BOARD B ON P.BOARD_NO = B.BOARD_NO
		LEFT JOIN MBMBER M ON M.USER_NO = P.USER_NO
		WHERE BOARD_NO = #{boardNo}
	</select>
</mapper>