
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
}

.body-login {
    background-color: #ffffff;
    margin-top: 30px;
    margin-bottom: 20px;
    
    
}

.content-login{
    width: 350px;
    margin: auto;
}

.top-margin{
    height: 100px;
}


.div-login-find {
    margin: auto;
    width: 600px;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    
}
.logo-find{
    font-size: 30px;
    font-weight: 500;
    margin-left: 85px;
    
}
.input-login{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    border:1.5px solid rgb(226, 226, 226);
    font-size: 12px;
    margin-bottom: 10px;
    
}  

.in {
    margin-bottom: 10px;
    
}

#btn {
    margin-top: 10px;
    background-color: #000000;
    margin-bottom: 200px;
    color: white;
    width: 350px;
    height: 40px;
    font-weight: 700;
    border-radius: 5px;
    margin-top: -100px;
}




a {
    text-decoration: none;
    font-size: 12px;
    color:#0000005f;
    font-weight: 600;
    padding-right: 3px;
    padding-left: 3px;
    text-align: center;
    margin-right: 20px;
}

.a-findId{
    text-align: center;
    width: 350px;
    margin-top: -30px;
}

.a-findId-2{
	margin-top:-30px;
}

#id-error-message.error-message{
   padding: 5px;
   margin-top: -13px;
}

/* 인증하기 버튼 */
.verificationButton{
    background-color: rgb(89, 207, 89);
    border: none;
    position: absolute; 
    width: 80px; /* 변경된 너비 */
    height: 30px; /* 변경된 높이 */
    border-radius: 5px;
    color: #ffffff;
    font-weight: 500;
    font-size: 12px;
    right: 5px; 
    top: 5px;
}


#findPwdBtn, #findIdBtn {
    cursor: pointer; /* 손가락 표시 */
}



