@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {  font-family: 'Noto Sans KR', sans-serif; }
body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* 마이페이지-배너 글씨 */
.mypage-section {
    height: 150px;
    width: 100%;
    background-color: #73cc73;
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mypage-section p:first-child {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 0px;
}

.mypage-section p:nth-child(2) {
    margin-top: 10px;
    font-size: 18px;
}



section {
    padding: 40px;
    margin: auto;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    overflow: hidden;
    width: 70%;
    height: 100%;
}
#findZipBtn{
	margin-left:5px;
}
#sample6_extraAddress{
	margin-left:5px;
}
#memberInfo{
    padding: 40px;
    margin: auto;
 	background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    overflow: hidden;
    width: 45%;
    height: 900px;
}


.tabs {
    display: flex;
    justify-content: center;
    margin:0; /* 여기에 간격 조절을 위한 margin 추가 */
    list-style: none;
    padding: 0;
    margin-bottom: 100px;
    margin-top: 10px;
    border-bottom: 1px solid #45a049;
}

.tab {
	font-size:15px;
    width: 120px;
    color: rgb(50, 50, 50);
    padding: 10px;
    text-align: center;
    cursor: pointer;
    text-transform:uppercase;
}

.tab:after{
    display:block;
    content: '';
    border-bottom: solid 3px #4CAF50;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.tab:hover:after { 
    transform: scaleX(1);
 }

 a{
    text-decoration: none;
 }



.banner  {
    
    width: 100%;
    background-color:#45a049;
    height: 300px;
    align-items: center;
    justify-content: center;
}

h3 {
    color: #555;
    padding: 10px;
    margin: 0;
    margin-left: 50px;
}
a{
    color: #555;
}
table {
    margin: auto;
    width: 90%;
    border-collapse: collapse;
    border-radius: 10px;
}



th, td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    overflow: hidden;
    
}

td {
    border: none;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    overflow: hidden;
}

th {
    background-color: #4CAF50;
    color: white;
    border-top: #9a9a9a 1px solid;
    border-bottom: none;
    text-align: center;
    border-left: none;
    border-right: none;
    font-weight: 500;
    font-size: 15px;
}

td:first-child,
th:first-child {
    border-left: none;
}

th:nth-of-type(1){
    width: 10%;
    padding-left:40px;
}

th:nth-of-type(2){
    width: 20%;
    padding-left:85px;
}

th:nth-of-type(3){
    width: 50%;
    text-align: center;
}

th:nth-of-type(4){
	padding-left:85px;
    width: 60%;
    
}

td:nth-of-type(3){
    text-align: center;
}





td:last-child,
th:last-child {
    border-right: none;
}

tr:last-child {
    border-bottom: #9a9a9a 1px solid;
}

.detailBtn {
    margin: auto;
    width: 60%;
    background-color: #fff;
    color: #4CAF50;
    padding: 5px;
    border: 1px solid  #4CAF50;
    border-radius: 5px;
    cursor: pointer;
}

.detailBtn:hover {
    background-color: #45a049;
    color: #fff;
}
.twoBtn{
	margin:auto;
	width:500px;
	height:50px;
	display:flex;
	padding:20px;
	
	
}



#updateBtn{
	margin-top:30px;
	background-color:orange;
	border-radius:5px;
	border: 1px solid orange;
	width:80px;
	height:30px;
	font-weight:500;
	padding:5px;
	margin-right:10px;
	margin-left:90px;
	line-height:1;
	font-size:13px;
}

#deleteBtn{
	margin-top:30px;
	background-color:red;
	border-radius:5px;
	border: 1px solid red;
	width:80px;
	height:30px;
	font-weight:500;
	padding:5px;
	color:white;
	line-height:1;
	font-size:13px;
}

.modal-body{
	margin-bottom:20px;
}



#realDelete{
	margin-left:200px;
	margin-top:20px;
	background-color:red;
	border-radius:5px;
	border: 1px solid red;
	width:80px;
	height:30px;
	font-weight:500;
	padding:5px;
	color:white;
	line-height:1;
	font-size:13px;
	margin-bottom:20px;
}

/* 모달창 */

.modal{
	position:absolute;
	margin-top:300px;
}

.modalTable{
	margin-bottom:30px;
	padding:30px;
}

#pwdAuthCheck {
	margin-left: calc((498.4px - 55.05px)/2);
	margin-bottom: 20px;
}

