@charset "UTF-8";

body {
	
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
	/* background-color: #F4F4F4; */
	background-color: #FFF;
}

/* ------ 타이틀 부분 ------ */
.practice-section {
    height: 150px;
    width: 100%;
    background-color: #73cc73;
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.practice-section p:first-child {
    font-size: 31px;
    margin-top: 0;
    margin-bottom: 0px;
}

.practice-section p:nth-child(2) {
    margin-top: 10px;
    font-size: 17px;
}

/* 이동 section   */
.section-area{
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
	width : 100%;
	height : 50px;
	border-bottom : 1px solid  #73cc73;
}
.section-area span a{
	margin : 0 42px;
	font-weight : 530;
	color  : #4d4e4b;
	cursor: pointer;
	font-size : 15px;
}

.section-area span a:hover{
	color  : #4fbf4f;
	-webkit-transition: all .3s;
}

.outer{
	width:1280px;
	margin:auto;
}
.content{
	margin:auto;
	/* display: flex; */
	width:1200px;
	padding-top:20px;
	
}

.topic{
	margin-top:60px;
	margin-left:30px;
}


.trashList{
	margin-top:60px;
	padding-bottom:20px;
	display:flex;
}

.trashDiv{
	display:flex;
	margin:auto;
}

.trash{
	margin-left:15px;
	padding:15px;
/* 	margin:auto; */
	width:230px;
	height:310px;
	border-radius:20px;
	border:1px solid #d8d8d8;
}
.imgArea{
	margin:auto;
	width:240px;
}

main img{
	margin-left:20px;
	width:190px;
	height:190px;
}


#subCategoryName{
	font-size:18px;
}

#bigCategoryName{
	font-size:18px;
}

main span{
	margin-bottom:10px;
	padding-left:15px;
	padding-bottom:0px;
	}

.trashInfo{
	line-height:1.5;
	font-size:15px;
	margin-left:25px;
	margin-top:15px;
}

main h2{
	margin-top:5px;
	font-size:25px;
	font-weight:500;
	margin-bottom:5px;
	
}

main h5{
	margin-top:0px;
	margin-bottom:0px;
	font-size:12px;
	font-weight:500;
	color:#6d6d6d;
}

main h4{
	margin-top:0;
	font-size:20px;
	font-weight:500;
	margin-bottom:0px;	
}


/* 스크롤 업버튼 */
#scrollUpButton{
	position: fixed;
    text-align: center;
    bottom : 80px;
    right : 110px;
    border-radius: 50%;
    color: white;
    width: 45px;
    height: 45px;
    z-index: 10;
    cursor: pointer;
    background-color: black;
    display : none;
    -webkit-transition: all .3s;
}

#scrollUpButton .material-symbols-outlined{
	padding-right:140px;
	padding-top:5px;
	padding-left:3px;
}



