@charset "UTF-8";

body {
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
	/* background-color: #F4F4F4; */
	background-color: #FFF;
}

.contentBox{
	display: flex;
    justify-content: space-between;
    width: 1280px;
    height:600px;
    margin:auto;
    box-sizing: border-box;
}
.content{
	margin-top:100px;
	display: flex;
	height:600px;
}
.imgArea{
	margin-left:60px;
}

main img{
	width:500px;
	height:500px;
}

.trashInfo{
	padding-left:50px;
	padding-top:10px;
}
#subCategoryName{
	font-size:18px;
}

#bigCategoryName{
	font-size:18px;
}

main span{
	margin-bottom:20px;
	padding-left:15px;
	padding-bottom:0px;
	}

#howto{
	padding-left:18px;
	padding-top:5px;	
	padding-bottom:20px;
	border-bottom:1px solid #EEEEEE;
}
#know{
	padding-left:18px;
	padding-top:5px;	
	padding-bottom:20px;
}

main h2{
	margin-top:20px;
	font-size:38px;
	font-weight:500;
	margin-bottom:10px;
	padding:15px;
	border-bottom:1px solid #EEEEEE;
}

main h4{
	margin-top:10px;
	font-size:20px;
	font-weight:600;
	padding:18px;
}

/* 서브카테고리가 같은 쓰레기 swipper */
.recently-outer{
    position: relative;
    padding-top: 50px;
    margin-top: 50px;
}
/* 배경이미지 */
.recently-outer img{
    position: absolute;
    top: 0;
    z-index: 0;
    height: 620px;
    width: auto;
    max-width: 100%;
}
#recently-img{
    min-width: 100%;
}
.recently-garbage-inner{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    cursor: pointer;
    max-width: 1100px; /* 최대 너비 지정 (원하는 최대 너비로 수정) */
    margin: 0 auto;
    padding-bottom: 30px;
    
}
/* 최근 쓰레기 슬라이더 */
main .recently-garbage-outer{
    z-index: 1;
    position: relative;
    top: 0;
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    margin-bottom: 30px !important;
    
}
main #recently-garbage-outer-title{
    margin-left: 10px;
    font-size: 30px;
    font-weight: 550;
    margin-bottom: 40px;
    margin-top: 25px;
    text-align: center;
}
main .recently-garbage-inner{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    cursor: pointer;
}
/* 쓰레기 게시물 div */
main .recently-garbage {
    border-radius: 7px;
    width: 250px;
    height: 330px;
    max-height: 330px;
    margin: 7px;
    text-align: center;
    text-overflow: ellipsis;
}

/* 슬라이드 이미지 제목 */
main .recently-garbage-title{  
    font-weight: 730;
    font-size: 17px;
    text-align: left;
    padding-top: 15px;
}
/* 슬라이드 이미지 내용 */
main .recently-garbage-content{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
main .recently-garbage p {
    font-size: 14px;
    margin: 6px;
    margin-left: 12px;
    margin-right: 15px;
}

main .garbage-img-outer{
    width: 250px;
    height: 250px;
    margin: 2px auto;
    margin-top: 0px;
    border-radius: 7px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
/* 최근쓰레기 이미지 */
main .recently-garbage-img{
    object-fit: cover;
    padding: auto;
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    background-color: rgb(208, 208, 208);
    margin-bottom: 5px;
    transition: all 0.4s ease;
}

.garbage-img-outer:hover img{
    transform: scale(1.05);
    transition: transform 0.4s ease-in-out;
}


/* 슬라이더 좌우 화살표 */
.custom-prev {
    background: url('../../image/main/mainImg/left-arrow.svg') no-repeat center center;
    width: 110px; 
    height: 110px; 
    position: absolute;
    left: -95px;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
}

.custom-next {
    background: url('../../image/main/mainImg/right-arrow.svg') no-repeat center center;
    width: 110px; 
    height: 110px;
    position: absolute;
    right: -93px;
    top: 40%; 
    transform: translateY(-50%);
    cursor: pointer;
}


/* 스크롤 업버튼 */
#scrollUpButton{
	position: fixed;
    text-align: center;
    bottom : 80px;
    right : 110px;
    border-radius: 50%;
    color: white;
    width: 45px;
    height: 45px;
    z-index: 10;
    cursor: pointer;
    background-color: black;
    display : none;
    -webkit-transition: all .3s;
}

#scrollUpButton .material-symbols-outlined{
	padding-right:140px;
	padding-top:5px;
	padding-left:3px;
}