@charset "UTF-8";

body {
	
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
	/* background-color: #F4F4F4; */
	background-color: #FFF;
}

.outer{
	margin-top:100px;
}

.contentBox{
	
	display: flex;
    justify-content: space-between;
    width: 1280px;
    background-color:green;
    height:600px;
    margin:auto;
    box-sizing: border-box;
}
.content{
	display: flex;
	height:350px;
	width:700px;
	margin:auto;
	padding:10px;
	border-bottom: 1px solid #EEEEEE;
}
.imgArea{
	margin-left:60px;
}

main img{
	width:300px;
	height:300px;
}

.trashInfo{
	padding-left:50px;
	padding-top:10px;
}
#subCategoryName{
	font-size:18px;
}

#bigCategoryName{
	font-size:18px;
}

main span{
	margin-bottom:10px;
	padding-left:15px;
	padding-bottom:0px;
	}

#trashInfo{
	padding-left:18px;
	padding-top:0px;	
	padding-bottom:10px;
	border-bottom:1px solid #EEEEEE;
	line-height:1.5;
	font-size:15px;
}
#trashExtraInfo{
	padding-left:18px;
	padding-top:5px;	
	padding-bottom:10px;
	line-height:1.5;
	font-size:15px;
}

main h2{
	margin-top:5px;
	font-size:38px;
	font-weight:500;
	margin-bottom:5px;
	padding:15px;
	border-bottom:1px solid #EEEEEE;
}

main h4{
	margin-top:0px;
	margin-bottom:0px;
	font-size:20px;
	font-weight:600;
	padding:18px;
	
}


/* 스크롤 업버튼 */
#scrollUpButton{
	position: fixed;
    text-align: center;
    bottom : 80px;
    right : 110px;
    border-radius: 50%;
    color: white;
    width: 45px;
    height: 45px;
    z-index: 10;
    cursor: pointer;
    background-color: black;
    display : none;
    -webkit-transition: all .3s;
}

#scrollUpButton .material-symbols-outlined{
	padding-right:140px;
	padding-top:5px;
	padding-left:3px;
}



