<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="trashMapper">

	<!-- 최근 업데이트된 쓰레기 -->
	<select id="getRecentlyTrashList" resultType="trashPost">
	 	SELECT ROWNUM, TRASH_POST_NO, TRASH_TITLE, TRASH_INFO,CHANGE_NAME
       FROM( SELECT TRASH_POST_NO, TRASH_TITLE, TRASH_INFO,CHANGE_NAME
        FROM TRASH_POST P
        LEFT JOIN IMG_ATTACHMENT IM ON (TRASH_POST_NO=REF_BNO)
        ORDER BY P.CREATE_DATE DESC
        )
        WHERE ROWNUM BETWEEN 1 AND 5
	</select>
	
	
	<!-- 인기 쓰레기  -->
	<select id ="getPopularList"  resultType="trashPost">
		SELECT *
		FROM(
		    SELECT *
		    FROM (
		        SELECT T.TRASH_NO,TSC.SUB_CATEGORY_NAME, IM.CHANGE_NAME, COUNT(*) AS TRASH_HITS
		        FROM TRASH T
		        LEFT JOIN TRASH_SUB_CATEGORY TSC ON T.SUB_CATEGORY_NO = TSC.SUB_CATEGORY_NO
		        LEFT JOIN TRASH_HITS TH ON T.TRASH_NO = TH.TRASH_NO
		         LEFT JOIN IMG_ATTACHMENT IM ON T.TRASH_NO = IM.REF_BNO
		        GROUP BY T.TRASH_NO, TSC.SUB_CATEGORY_NAME, IM.CHANGE_NAME
		        ORDER BY TRASH_HITS DESC        
		    )
		    WHERE ROWNUM BETWEEN 1 AND 5
		    ) 
		LEFT JOIN TRASH_POST TPO  ON TPO.TRASH_POST_NO = TRASH_NO
		WHERE STATUS='Y'
	</select>
	
	<!-- 비슷한 쓰레기  -->
	<select id="getSimilarList"  parameterType="trash" resultType="trash">
		SELECT TRASH_NO, TRASH_POST_NO, TRASH_TITLE, TRASH_INFO, TRASH_EXTRAINFO, CHANGE_NAME
		FROM (SELECT T.TRASH_NO, TP.TRASH_POST_NO, TP.TRASH_TITLE, TP.TRASH_INFO, TP.TRASH_EXTRAINFO, IA.CHANGE_NAME FROM TRASH T
		LEFT JOIN TRASH_POST TP ON T.TRASH_POST_NO = TP.TRASH_POST_NO
		LEFT JOIN IMG_ATTACHMENT IA ON IA.REF_BNO = T.TRASH_NO
		LEFT JOIN TRASH_SUB_CATEGORY TSC ON TSC.SUB_CATEGORY_NO = T.SUB_CATEGORY_NO
		LEFT JOIN TRASH_BIG_CATEGORY TBC ON TBC.BIG_CATEGORY_NO = TSC.BIG_CATEGORY_NO
	    WHERE TSC.SUB_CATEGORY_NO = #{subCategoryNo} AND IA.IMG_TYPE = 2 AND IA.IMG_LEVEL = 1 AND  T.TRASH_NO != #{trashNo} AND T.STATUS = 'Y')
		WHERE ROWNUM BETWEEN 1 AND 4
	</select>
	
	<select id="bringCategory" resultType="trash">
		 SELECT  TSC.SUB_CATEGORY_NO, TSC.BIG_CATEGORY_NO
		 FROM TRASH_SUB_CATEGORY TSC
		 LEFT JOIN TRASH T ON T.SUB_CATEGORY_NO = TSC.SUB_CATEGORY_NO
		 WHERE T.TRASH_NO = #{trashNo} 
	</select>
	
	<!-- 쓰레기 상세페이지  -->
	<select id ="trashDetail" parameterType="int" resultType="trash">
		SELECT T.TRASH_NO, TSC.SUB_CATEGORY_NAME,TBC.BIG_CATEGORY_NAME, T.STATUS, TP.TRASH_POST_NO
		, TP.TRASH_TITLE, TP.TRASH_INFO,TP.TRASH_EXTRAINFO, IA.CHANGE_NAME
		FROM TRASH T
		LEFT JOIN TRASH_POST TP ON T.TRASH_POST_NO = TP.TRASH_POST_NO
		LEFT JOIN IMG_ATTACHMENT IA ON IA.REF_BNO = T.TRASH_NO
		LEFT JOIN TRASH_SUB_CATEGORY TSC ON TSC.SUB_CATEGORY_NO = T.SUB_CATEGORY_NO
		LEFT JOIN TRASH_BIG_CATEGORY TBC ON TBC.BIG_CATEGORY_NO = TSC.BIG_CATEGORY_NO
		WHERE T.TRASH_NO = #{trashNo} AND IA.IMG_TYPE = 2 AND IA.REF_BNO = #{trashNo}
	</select>
	
	<select id ="getBigCategoryList" resultType="TrashBigCategory">
		SELECT *
		FROM TRASH_BIG_CATEGORY
	</select>
	
	<select id ="getSubCategoryList" resultType="TrashSubCategory">
		SELECT *
		FROM TRASH_SUB_CATEGORY TSC
		LEFT JOIN TRASH_BIG_CATEGORY TBC ON TSC.BIG_CATEGORY_NO = TBC.BIG_CATEGORY_NO
		<if test="#{bigCategoryNo != null}">
			WHERE TSC.BIG_CATEGORY_NO = #{bigCategoryNo}
		</if>
	</select>
	
<!-- 	<select id = "getAllTrashList" resultType="getAllTrashList"> -->
	
<!-- 	</select> -->
	
	<insert id="writeTrashPost" parameterType="trashPost" useGeneratedKeys="true">
		<selectKey keyProperty="trashPostNo" resultType="int" order="BEFORE">
			SELECT SEQ_TPNO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO TRASH_POST
		VALUES (#{trashPostNo}, #{trashTitle}, #{trashInfo}, #{trashExtraInfo}, SYSDATE, SYSDATE, DEFAULT)
	</insert>
</mapper>