<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">


<!--아이디 중복체크  -->
	<select id = "emailCheck" parameterType="string" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE USER_EMAIL = #{userEmail}
	</select>
	
	<insert id="joinMember" parameterType="member">
		INSERT INTO MEMBER 
		VALUES(
		SEQ_MNO.NEXTVAL,
		DEFAULT,
		DEFAULT,
		#{userEmail},
		#{userPwd},
		#{userName},
		#{userNickname},
		#{phone},
		#{zipcode},
		#{address1},
		#{address2},
		#{address3},
		SYSDATE,
		NULL,
		'Y'
		)
	</insert>
	
	<insert id="joinMemberAuth">
		INSERT INTO AUTHORITY
		VALUES(#{userNo},USER)
	</insert>
	
	<select id="loginMember" parameterType="member" resultType="member">
		SELECT *
		FROM MEMBER
		WHERE USER_EMAIL = 'USER1'
			AND USER_PWD = '1234'
			AND STATUS = 'Y'
	</select>
	
	<update id="updateMember" parameterType="member">
		UPDATE MEMBER
		SET 
			USER_EMAIL = #{userEmail},	
			USER_NAME = #{userName},
			USER_NICKNAME =#{userNickname},
			PHONE = #{phone},
			ZIPCODE = #{zipcode},
	   		ADDRESS1 = #{address1},
	    	ADDRESS2 = #{address2},
	    	ADDRESS3 = #{address3},
	    	MODIFY_DATE = SYSDATE
	    WHERE USER_EMAIL = #{userEmail} AND STATUS = 'Y'
	</update>
	
	<update id="deleteMember" parameterType="member">
	    UPDATE MEMBER
	    SET STATUS = 'N'
	    WHERE USER_NO = #{userNo} AND STATUS = 'Y'
	</update>
	
	
		
</mapper>

