<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	<insert id="joinMember" parameterType="member">
		INSERT INTO MEMBER 
		VALUES(
		SEQ_MNO.NEXTVAL,1,1,#{userEmail},#{userPwd}, #{userName}, #{userNickname}, #{phone}, #{zipcode}, #{address1}, #{address2}, #{address3}, SYSDATE, SYSDATE, 'Y'
		)
	</insert>
	
	<select id="loginMember" parameterType="member" resultType="member">
		SELECT *
		FROM MEMBER
		WHERE USER_EMAIL = 'ojy1739@gmail.com'
			AND USER_PWD = 'asdf1234!'
			AND STATUS = 'Y'
	</select>
	
	<update id="updateMember" parameterType="member">
		UPDATE MEMBER
		SET 
			USER_EMAIL =#{userEmail},	
			USER_NAME = #{userName},
			USER_NICKNAME =#{userNickname},
			PHONE = #{phone},
			ZIPCODE = #{zipcode},
	   		ADDRESS1 = #{address1} ,
	    	ADDRESS2 = #{address2},
	    	ADDRESS3 = #{address3},
	    	MODIFY_DATE = SYSDATE
	    WHERE USER_EMAIL = #{userEmail} AND STATUS = 'Y'
	</update>
	
</mapper>

