<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="auth">
	<select id="loadUserByUsernameSocial" resultType="member">
		SELECT *
		FROM MEMBER M
		LEFT JOIN MEMBER_SOCIAL MS ON M.USER_NO = MS.USER_NO
		WHERE MS.SOCIAL_ID = #{socialId} AND MS.SOCIAL_TYPE = #{socialType} 
	</select>

	<resultMap type="simpleGrantedAuthority" id="authoritiesMap">
		<constructor>
			<arg column="authority" javaType="string"/>
		</constructor>
	</resultMap>
	
	<select id="findMemberByEmail" parameterType="string" resultType="member">
		SELECT * FROM MEMBER WHERE USER_EMAIL = #{userEmail}
	</select>
	
	<select id="loadUserByUsername" resultType="com.kks.trashpedia.auth.model.dto.UserDetail" >
		SELECT *
		FROM MEMBER
		WHERE USER_EMAIL = #{userEmail} AND STATUS = 'Y'
	</select>
	
	<select id="selectAuthorities" resultMap="authoritiesMap">
		SELECT
			*
		FROM AUTHORITY
		WHERE USER_NO = #{userNo}
	</select>
	
	<update id="temporaryPwd">
		UPDATE MEMBER
		SET USER_PWD = #{userPwd}
		WHERE USER_EMAIL = #{userEmail} AND PHONE = #{phone}
	</update>
	
	<select id="emailCheck" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE USER_EMAIL = #{userEmail}
	</select>
	
	<insert id="joinMemberSocial">
		INSERT INTO MEMBER_SOCIAL
		VALUES(#{socialId}, #{userNo}, #{socialType})
	</insert>
	
	<select id="getMemberEmail" resultType="member">
		SELECT *
		FROM MEMBER
		WHERE USER_EMAIL = #{userEmail}
	</select>
</mapper>