@charset "UTF-8";

section{  width: 100%; }

.statistics-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statistics-title {
    font-size: 40px;
}

.tab-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tab-group input {
    width: 100px;
    margin: 10px;
}

.statistics-list-wrapper {
    align-self: stretch;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
    display: inline-flex;
}

.statistics-list {
    flex: 1 1 0;
    height: 120px;
    padding: 16px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 1px 1px 4px #c0c0c0;
}
.statistics-list:hover{
/* 	background-image: radial-gradient(rgb(238, 238, 238),#e8e6f7); */
/* 	background-color : #e8f1e2; */
/* 	cursor: pointer; */
}

.statistics-list-title {
    width: 100%;
    font-weight: 500;
    color: #292929;
    display: flex;
    align-items: center;
    margin-bottom : 2px;
}
.statistics-list-title span{
	margin-right : 5px;
	font-size : 23px;
}

.list-data {
    width: 100%;
    font-size: 35px;
    font-family: Roboto;
    font-weight: 550;
}

.change {
    width: 100%;
    font-size: 17px;
    font-family: Roboto;
    margin-top : 3px;
    margin-left : 2px;
    font-weight: 550;
}

.graph-container-wrapper {
    padding-top: 20px;
    align-self: stretch;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    display: inline-flex;
}

.graph-container {
	width: 100%;
	align-self: stretch;
	padding: 16px;
	border-radius: 12px;
	background-color: white;
	box-shadow: 1px 1px 4px #c0c0c0;
}

.graph-title {
    width: 100%;
    font-weight: 500;
}