@charset "UTF-8";
.body {
    background: white;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
a{
    color: black;
}

.content-wrapper{
    min-width:1148px;
    padding-top:90px;
    padding-bottom:100px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    width:100%;
}

.search-section{
    background-color: gray;
    padding-bottom: 50px;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-title{
    width: 100%;
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: white;
}

table{
	height: 80%;
	width: 100%;
}

tbody{
	width: 100%;
}

tr{
	height: 70px;
}

.table{
    width: 100%;
    height: 80%;
    padding-top: 20px;
    font-size: 13px;
}

.table>thead{
    text-align: center;
    height: 30px;
}

.table>tbody>tr{
    text-align: center;
    height: 30px;
}

.boardList>tr>td{
	width:33%;
}

.input{
    display: flex;
    align-items: center;
    height: 25px;
}

.input>#filterSelect{
    height: 23px;
}

.input>#search{
    height: 23px;
}

.board-section{
    display: flex;
    gap: 20px;
}

.category-container {
    width: 50%;
    height: 700px;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
}

.inner-category-container{
    height:650px;
}

.board-container {
    width: 50%;
    height: 700px;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 12px;
}

.board-title-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title{
    font-size: 25px;
    font-weight: 500;
}

.list{
    height: 100%;
    display:block;
    overflow:auto;
}

.list>.item>.title{
	padding-right:5px;
}

.subtitle{
    display: grid;
    align-items: center;
	height: 100%;
	overflow: hidden;
}

.item{
    display: flex;
    align-items: center;
    height: 70px;
}

.content-item{
	height: 300px;
	display: flex;
    align-items: flex-start;
}

.content-icon{
    width: 40px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}