@charset "UTF-8";

.content-container {
	width: 100%;
	padding: 20px;
	margin-top: 20px;
	background-image: radial-gradient(#fafafa, white);
    box-shadow: 1px 1px 4px #c0c0c0;
    border-radius: 12px;
    padding-bottom: 40px;
}

.content-title-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.content-title {
	font-size: 25px;
	font-weight: 500;
}

.content-table {
	height: 500px;
	width: 100%;
}

.content-thead {
	width: 100%;
	display: block;
}

.content-tbody {
	height: 85%;
	display: block;
	overflow: auto;
}

.content-tr {
	height: 70px;
	text-align: center;
}

.content-tr>*:first-child {
	width: 50px;
}

.content-tr>*:nth-child(2) {
	width: 150px;
}

.content-tr>*:nth-child(3) {
	width: 150px;
}

.content-tr>*:last-child {
	width: 230px;
}

.content-section {
	padding-bottom: 50px;
}

.member-item-wrapper {
	flex: 1 1 0;
	justify-content: center;
	display: flex;
	align-items: center;
}

.member-item {
	flex: 1 1 0;
	flex-direction: column;
	align-items: center;
	padding-bottom: 50px;
	gap: 20px;
	display: inline-flex;
}

.member-item-title {
	align-self: stretch;
	text-align: center;
	color: black;
	font-size: 18px;
	font-weight: 400;
}

.member-item-subtitle {
	align-self: stretch;
	text-align: center;
	color: black;
	font-size: 17px;
	font-weight: 600;
}

.member-board-container {
	width: 80%;
	padding: 20px;
	display: flex;
	gap: 20px;
}

.search-wrapper {
	display: flex;
	justify-content: center;
	gap: 5px;
}

.search-wrapper>select {
	height: 30px;
	width: 80px;
}

.search-wrapper>input {
	height: 30px;
	border-radius: 6px;
}

.search-input {
	width: 70%
}

.search-button {
	width: 80px;
	border: none;
/* 	background-color: #0b5fac; */
	color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-image: linear-gradient(to bottom, #08c, #0b5fac);
    background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.announcement-write-button{
	height: 30px;
	border: none;
	border-radius: 6px;
}

select {
	border-radius: 6px;
}

.item {
	display: flex;
	align-items: center;
	height: 70px;
}

.list {
	margin-top: 20px;
	height: 500px;
}

.content-item {
	height: 220px;
}

.title {
	width: 70px;
}

.subtitle {
	width: 400px;
	padding-left: 10px;
}

.comment-detail-list {
	overflow: auto;
}

.comment-content {
	font-size: 10px;
}

.comment-date {
	border-bottom: 1px solid green;
}

.sub-content {
	height: 100%;
	overflow: auto;
}

.detail-button {
	width: 70px;
	height: 25px;
	border: none;
	border-radius: 12px;
	color: white;
	background-color: #73cc73;
	margin-right: 5px;
}

.delete {
	background-color: red;
}

.undelete {
	background-color: blue;
}

.long-table {
	width: 100%;
	height: 80%;
	padding-top: 20px;
	font-size: 13px;
}

.long-thead {
	text-align: center;
	height: 30px;
}

.long-tbody {
	text-align: center;
	height: 30px;
}

.long-tr {
	height: 50px;
}

.long-tr>th {
	font-size: 15px;
}

.long-tr>td {
	font-size: 12px;
}

.long-tr>*:first-child {
	width: 50px;
}

.long-tr>*:nth-child(2) {
	width: 120px;
}

.long-tr>*:nth-child(3) {
	width: 200px;
}

.long-tr>*:nth-child(4) {
	width: 100px;
}

.long-tr>*:nth-child(5) {
	width: 100px;
}

.long-tr>*:nth-child(6) {
	width: 100px;
}

.long-tr>*:nth-child(7) {
	width: 120px;
}

.long-tr>*:last-child {
	width: 190px;
}

.comment-long-tr>*:first-child {
	width: 50px;
}

.comment-long-tr>*:nth-child(2) {
	width: 120px;
}

.comment-long-tr>*:nth-child(3) {
	width: 190px;
}

.comment-long-tr>*:nth-child(4) {
	height: 50px;
	width: 150px;
	overflow: hidden;
	display: grid;
	align-items: center;
}

.comment-long-tr>*:nth-child(5) {
	width: 100px;
}

.comment-long-tr>*:nth-child(6) {
	width: 100px;
}

.comment-long-tr>*:nth-child(7) {
	width: 120px;
}

.announcement-long-tr>*:last-child {
	width: 190px;
}

.announcement-long-tr>*:first-child {
	width: 50px;
}

.announcement-long-tr>*:nth-child(2) {
	width: 290px;
}

.announcement-long-tr>*:nth-child(3) {
	width: 150px;
}

.announcement-long-tr>*:nth-child(4) {
	width: 150px;
}

.announcement-long-tr>*:nth-child(5) {
	width: 120px;
}

.announcement-long-tr>*:last-child {
	width: 190px;
}

.board-search-input, .comment-search-input {
	width: 20%;
}

.pageBar {
	display: flex;
	padding-top: 10px;
	justify-content: center;
}

.pageBar>div {
	padding: 5px;
}

.active {
	color: green;
}