@charset "UTF-8";
* {  font-family: 'Noto Sans KR', sans-serif; }
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 900px;
    margin: 10px 0 ;
	display: flex;
    flex-direction: column;
    align-items: center;
}

/* 카테고리 부분 */
.content-category-outer{
	margin-top : 30px;
	padding : 23px;
    text-align: center;
    display: flex;
    align-items: baseline;
    width : 900px;
    height: 35px;
    color : #3a3a3a;
    border-top: 3px solid  #abcbd3;
    border-bottom : 2px solid  #d7e6ea;
    border-bottom: 3px solid  #abcbd3;
}
/* 게시글 등록/수정 */
.container-title{
	font-size : 25px;
    font-weight: 650;
    margin-right : 6px;
    margin-left : 40px;
}
.categoryName{
    font-size : 15px;
    margin-bottom: 33px;
    font-weight: 570;
}

/* 제목- 작성일 부분 */
.content-title-outer {
	text-align: start;
	margin-top: 10px;
	padding: 7px 20px;
}
.content-title-outer input{
    font-size: 25px;
    font-weight: 650;
    margin-bottom : 20px;
    margin-top : 5px;
}
.content-title-outer span{
    text-align: left;
    margin: 2px;
    font-size : 13px;
    color : rgb(79, 79, 79);
    font-weight : 700;
}
.content-title-outer .title-count{
	margin-right : 5px;
	font-weight : 400;
}

/* 제목입력 부분 */
.content-input-outer{
   text-align: center;
   margin-top: 22px;
   padding-left : 10px;
}
.input-title{
    font-size: 22px;
    font-weight: 730;
    width: 840px;
    border: 0;
    font-weight: 550;
    padding-top: 20px;
    padding-left : 20px;
    height : 40px;
    color: rgb(63, 63, 63);
}
.input-title:focus{
	outline : none;
}

/* 파일 등록 부분  */
.file-input-outer{
    box-sizing: border-box;
	border-top: 1px solid #d7e6ea;
/* 	border-bottom: 1px solid #cecece;  */
	background-color: #f7fbfb;
	display: flex;
    flex-direction: column;
    padding : 15px;
    padding-left : 25px;
    padding-bottom: 15px;
    width : 830px;
    font-size : 13px;
    color: rgb(63, 63, 63);
    margin-top : 5px;
    margin-bottom : 20px;
    margin-left : 3px;
}

.content-attach-inner td{
	padding : 2px;
	vertical-align : top;
}
.updateButton{
	width : 100px;
	border-radius: 5px;
	border : 1px solid  #d7e6ea;
	background-color: #e0ecef;
}
.thumbnailBox{
	display : flex;
	flex-direction: column;
}
.thumbnailBox input{
	margin-bottom : 5px;
} 
.thumbnailBox #thumbNailImg{
	margin-top : 5px;
	height : 100px;
	width : 100px;
	max-height : 100px;
}
.nameArea{
	margin-left : 6px;
}

.xButton{
	border : 0;
	width : 20px;
	padding : 0;
	margin-left : 5px;
	text-align : center;
	font-size : 15px;
	font-weight : 600;
	border-radius: 3px;
	background-color: transparent; 
}

/* ---------- 내용 ---------- */
.content-outer {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
/* 최대글자수 */
#maxLength{
	display: flex;
    justify-content: flex-end;
    margin : 8px 10px;
    padding-right : 19px;
	width : 100%;
	font-size : 14px;
	font-weight : 420;
	color: rgb(63, 63, 63);
}
#charCount{
	margin-right : 5px;
}
/* 수정 목록 삭제 버튼 */
.post-buttons{
    margin-top: 40px;
    margin-bottom: 20px;
   
}
.post-buttons button{
    cursor: pointer;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: 0;
    margin: 5px;
    background-color :  #e8f0f2;
    font-weight: 450;
	color: rgb(82, 82, 82);
}