@charset "UTF-8";
/* Footer 전체 스타일 */
main{
    margin-bottom: 50px;
}

footer {
    box-sizing: border-box;
    background-color: #f6f6f6;
    color: #8a8a8a;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 13px;
    padding: 13px;
    align-items: left;
}

footer .footer-outer{
    text-align: left;
    justify-content: center;
    margin-left: 50px;
}
footer div{
    margin: 10px;
}

footer span{
    margin-left: 5px;
    margin-right: 5px;
}

/* 링크 스타일 */
footer a {
    color: #8a8a8a; /* 텍스트 색상 */
}
footer a:hover {
    text-decoration: underline; /* 호버 시 밑줄 추가 */
    color: rgb(82, 165, 82); /* 호버 시 링크 색상 변경 */
}



/* 공지사항, 이용약관 */
footer .footer-logo>span>strong>a{
    /* color:  rgb(82, 165, 82); */
    margin-right: 20px;
}
footer .quick-links{
    font-weight: 550;
}


/* 저작권 */
footer strong {
    color: rgb(104, 104, 104); /* 섹션 제목 색상 */
}

footer .reserved{
    margin-top: 20px;
}

/* 깃허브 아이콘 */
footer .github-icon {
    font-size: 14px;
    color: black; /* 원하는 색상으로 변경 */
    margin-right: 5px;
}