@charset "EUC-KR";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * {  font-family: 'Noto Sans KR', sans-serif; }

/* 관리자 공통 부분 */
*{ padding:0;}
a{  text-decoration: none; color: black; }
li{ list-style-type: none; }
.body {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f8f8ff;
/*     background-image: radial-gradient(white, rgb(245, 245, 245)); */
/*     background-image: radial-gradient(white, #f8f8ff); */
}

button{ 
	font-family: 'Noto Sans KR', sans-serif !important; 
	cursor: pointer;
	user-select: none;
  
}
input[type="button"] {
    font-family: 'Noto Sans KR', sans-serif !important;
    cursor: pointer;
}

.content-wrapper{
    min-width:1148px;
    padding-top:40px;
    padding-bottom:50px;
    padding-left : 200px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.practice-section {
	box-sizing : border-box;
    height: 100px;
    width: 100%;
/*     background-color: #73cc73; */
/*     background-image: radial-gradient(#73cc73, #9edc9e); */
/*     background-color:#9edc9e; */
/*     box-shadow: 1px 1px 3px #c0c0c0; */
    border-radius : 12px;
    color: white;
    color: #272727;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 10px;
}
#practice-section-title{
	display: flex;
	align-items: center
}
.practice-section span{
	font-size : 39px; 
	margin-right : 10px;
}
.practice-section p:first-child {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 0px;
}

.practice-section p:nth-child(2) {
    margin-top: 10px;
    font-size: 18px;
    font-weight : 600;
    margin-bottom : 0;
}

.content-section{
    width:100%;
    display: flex;
    gap: 20px;
}

:root {
  --side-bar-width: 130px;
  --side-bar-height: 90vh;
}

.sidebar-wrapper {
    position: fixed;
    left: 0;
    height: 100%
}

.sidebar {
	min-height : 100%;
    height: 100%;
    background: #f1f1f1;
	background-color: #f9f9f9;
	background-color: rgb(260, 260, 260, 0.8);
	background-color: #0b5fac;
	box-sizing : border-box;
    font-size : 15px;
    backdrop-filter: blur(13px);
    flex-direction: column;
    align-items: flex-start;
    display: flex;
/* 	transform: translate(calc(var(--side-bar-width) * -1.1), 0); */
/* 	transition: .6s; */
/* 	border-radius: 20px; */
	z-index : 999;
}

.sidebar:hover{
	z-index : 999;
}

.sidebar-item {
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.sidebar-ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}
#sidebar-li-logout {
	position: relative;
	top :475px;
	left : 10px;
}
#sidebar-li-logout span{
	font-size : 14px; 
	margin : 0;
}

.sidebar-li {
	border-radius : 5px;
    height: 53px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin : 0 5px;
}

.sidebar-title {
    width: 210px;
    padding: 0 10px;
    font-weight: 500;
}
#sidebar-title-main{
	margin-top : 30px;
	margin-bottom : 40px;
	display : flex;
	align-items : center;
	justify-content: center;
}
#sidebar-title-main span{
	font-size : 60px;
	font-size : 28PX;
	font-weight : 500;
}

.sidebar-title a{
	display : flex;
  	align-items: center;
  	padding : 4px;
  	margin-left : 3px;
}
.sidebar-li:hover{
	background-color: rgba(245, 245, 245, 0.8);
/* 	background-color: #f9f9f9; */
/* 	background-color: #e6e6e6; */
	background-image: linear-gradient(to bottom, #f8fcff, #f4f0f0);
	background-repeat: repeat-x;
}
.sidebar-li:hover span{
	color : #0b5fac;
	font-weight: 550;
}
.sidebar span {
	color: rgb(45, 45, 45);
	color: white;
	margin-right: 7px;
	padding-left : 5px;
}

.filter-wrapper select{
	height : 25px;
}