<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">

	<!-- 카테고리 가지고오기  -->
	<select id="getSubCategory" parameterType="subCategory" resultType='subCategory'>
		SELECT SUB_CATEGORY_NO, S.BIG_CATEGORY_NO, SUB_CATEGORY_NAME, BIG_CATEGORY_NAME
		FROM SUB_CATEGORY S
		JOIN BIG_CATEGORY B ON S.BIG_CATEGORY_NO = B.BIG_CATEGORY_NO
		WHERE S.SUB_CATEGORY_NO = #{subCategoryNo}
			AND S.BIG_CATEGORY_NO = #{bigCategoryNo}
	</select>
	
	<!-- 게시글 등록(POST) -->
	<insert id="createPost" parameterType="post" useGeneratedKeys="true">
		<selectKey keyProperty="postNo" resultType="int" order="BEFORE">
			SELECT SEQ_POSTNO.NEXTVAL FROM DUAL
		</selectKey> 
	    INSERT INTO POST
	    VALUES (#{postNo}, #{title}, #{content}, SYSDATE, SYSDATE, 'Y')
	</insert>
	
	<!-- 게시글 등록(BOARD) -->
	<insert id="createBoard" parameterType="board" useGeneratedKeys="true">
		<selectKey keyProperty="boardNo" resultType="int" order="BEFORE">
			SELECT SEQ_BNO.NEXTVAL FROM DUAL
		</selectKey> 
		INSERT INTO BOARD
		VALUES (#{boardNo}, #{postNo}, 1, #{subCategoryNo}, 'Y')
	</insert>
	
	<!-- 첨부파일등록 -->
	<insert id="insertAttachment">
		INSERT INTO ATTACHMENT
		VALUES (SEQ_ATTNO.NEXTVAL,#{refBno},#{originName},#{changeName},#{fileType},SYSDATE,SYSDATE,'Y')
	</insert>

	<!-- 이미지등록  -->
	<insert id="insertImgAttachment">
		INSERT INTO IMG_ATTACHMENT
		VALUES (SEQ_IATTNO.NEXTVAL, #{refBno},#{originName},#{changeName},1,#{imgType},SYSDATE,SYSDATE,'Y')
	</insert>
	
	<!-- 목록 띄우기 -->
	<select id="boardList" resultType="post">
	    SELECT P.POST_NO, P.TITLE, P.CONTENT, P.CREATE_DATE, P.MODIFY_DATE, P.STATUS, B.BOARD_NO, SC.SUB_CATEGORY_NAME, M.USER_NAME 
	    FROM POST P
	    LEFT JOIN BOARD B ON (P.POST_NO = B.POST_NO)
	    LEFT JOIN SUB_CATEGORY SC ON B.SUB_CATEGORY_NO = SC.SUB_CATEGORY_NO
	    LEFT JOIN MEMBER M ON B.USER_NO = M.USER_NO
	    WHERE 
	        B.SUB_CATEGORY_NO = #{subCategoryNo}
	        AND P.STATUS='Y'
	    ORDER BY P.CREATE_DATE DESC
	</select>

	
	<!-- 상세페이지 -->
	<select id="boardDetail" parameterType="long" resultType="board">    
		SELECT P.*
	    FROM POST P
	    LEFT JOIN BOARD B ON P.POST_NO = B.POST_NO
	    LEFT JOIN MEMBER M ON P.USER_NO = M.USER_NO
	    WHERE POST_NO = #{postNo} 
	    	AND STATUS = 'Y'
	</select>
	
	
</mapper>