@charset "UTF-8";


/* ------ 실천서약 타이틀 부분 ------ */
.practice-section {
    height: 150px;
    width: 100%;
    background-color: #73cc73;
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.practice-section p:first-child {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 0px;
}

.practice-section p:nth-child(2) {
    margin-top: 10px;
    font-size: 18px;
}


/* ------  글목록 카드리스트 ------ */



/* common */
.community_html * {
    margin: 0;
    padding: 0;
}
.community_html a {
    text-decoration: none;
    color: inherit;
}
.community_html ul, li {
    list-style: none;
}


/* board */

#idx_board_wrap {
    padding: 50px ;
    background: #ffffff;
}

#idx_board_wrap > div {
    width: 90%;
    min-width: 1000px;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 0;
}

.idx_board {
    display: inline-block;
    width: 48%;
    background: #fff;
    box-sizing: border-box;
    /* border: 1px solid rgb(48, 165, 103); */
    box-shadow: 1px 5px 10px 5px rgb(220, 225, 222);
    /* border-radius: 20px; */
}

#idx_board_wrap > div > div:nth-child(even) {
    margin-left: 4%;
}

#idx_board_wrap > div > div:nth-child(3),
#idx_board_wrap > div > div:nth-child(4) {
    margin-top: 40px;
}

.idx_board .title {
    position: relative;
    padding: 20px;
    /* border-bottom: 1px solid #bfe4c9; */
    background-color: rgb(96, 146, 123);
    color: rgb(255, 255, 255);
}

.idx_board .title a {
    display: -block;
    vertical-align: middle;
    font-size: 24px;
}

.idx_board .title .name {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -2px;
}

.idx_board .title .more {
    position: absolute;
    top: 24px;
    right: 20px;
}

/* .idx_board .title .more img {
    width: 24px;
    margin-left: 3px;
} */

.idx_board .list {
    padding: 20px;
}

.idx_board .list ul li {
    margin-top: 10px;
    padding-left: 7px;
    font-size: 0;
}
.idx_board .list ul li:first-child {
    margin-top: 0;
}

.idx_board .list a,
.idx_board .list span {
    display: inline-block;
    vertical-align: middle;
}

.idx_board .list a {
    width: 80%;
    font-size: 14px;
}

.idx_board .list span {
    width: 20%;
    text-align: right;
    font-size: 12px;
    color: #777;
}