@charset "UTF-8";




/* ------ 실천서약 타이틀 부분 ------ */
.practice-section {
    height: 150px;
    width: 100%;
    background-color: #73cc73;
    /* background-image: linear-gradient(to right, rgb(167, 212, 199) 20%, rgb(63, 180, 151) 20%); */

    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.practice-section p:first-child {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 0px;
}

.practice-section p:nth-child(2) {
    margin-top: 10px;
    font-size: 18px;
}

/* -------  배경  --------*/
/* #container{
    background-image: linear-gradient(to right, rgb(107, 199, 171) 20%, rgb(39, 156, 127) 20%);

} */ 
/* .test1{
    background-image: linear-gradient(to right, rgb(107, 199, 171) 20%, rgb(39, 156, 127) 20%);
    height: 40px;
}





/* ------  글목록 카드리스트 ------ */

/* common */
.community_html * {
    margin: 0;
    padding: 0;
}
.community_html a {
    text-decoration: none;
    color: inherit;
}
.community_html ul, li {
    list-style: none;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* board */
.idx_board {
    display: inline-block;
    vertical-align: top; /* 추가 */
    width: 46%;
    height: 320px;
    /* 나머지 스타일 */
}

#idx_board_wrap {
    padding: 50px ;
    background: #ffffff;
    margin-top: 100px;
    width: 80%;

    /* background-image: linear-gradient(to top , rgb(191, 228, 217), rgb(255, 255, 255)); */
}

/* .idx_board:nth-child(2){
    background-color: rgb(223, 255, 246);
} 
.idx_board:nth-child(3){
    background-color: rgb(223, 255, 246);
}  */

.idx_board_wrap > div {
    width: 90%;
    min-width: 1000px;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 0;
}

.idx_board {
    display: inline-block;
    width: 46%;
    background-color: #ffffff;
    box-sizing: border-box;
    /* border: 1px solid rgb(48, 165, 103); */
    box-shadow: 1px 5px 10px 5px rgb(220, 225, 222);
    /* border-radius: 20px; */
    /* border: solid 1px rgb(0, 196, 147); */

}

#idx_board_wrap > div > div:nth-child(even) {
    margin-left: 7%;
}

#idx_board_wrap > div > div:nth-child(3),
#idx_board_wrap > div > div:nth-child(4) {
    margin-top: 40px;
}

.idx_board .title {
    position: relative;
    padding: 20px;
    font-weight: 700;
    /* border-bottom: 1px solid #bfe4c9; */
    /* background-color: #71797164; */
    /* background-image: linear-gradient(to bottom , rgb(191, 228, 217), rgb(255, 255, 255)); */
    /* background-image: linear-gradient(to left, rgb(154, 185, 175) 10%, rgb(102, 189, 160) 20%); */
    /* border: solid 1px rgb(0, 196, 147); */
    color: #73cc73;
}

.idx_board .title a {
    display: -block;
    vertical-align: middle;
    font-size: 24px;
    margin-left: 20px;
}

.idx_board .title .name {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -2px;
}

.idx_board .title .more {
    position: absolute;
    top: 24px;
    right: 20px;
}

/* .idx_board .title .more img {
    width: 24px;
    margin-left: 3px;
} */

.idx_board .list {
    padding: 20px;
    /* background-image: linear-gradient(to right, rgb(255, 255, 255) 85%, rgb(207, 255, 239) 45%); */

}
.idx_board .list ul{
    padding-left: 30px;
}
.idx_board .list ul li {
    margin-top: 10px;
    padding-left: 7px;
    font-size: 0;
    width: 92%;
}

.idx_board .list ul > li{
    border-bottom: solid 1px rgb(197, 218, 207);
    margin-bottom: 10px;
}
.idx_board .list ul > li >a{
    margin-bottom: 10px;
    
}


.idx_board .list ul li:first-child {
    margin-top: 0;
}

.idx_board .list a,
.idx_board .list span {
    display: inline-block;
    vertical-align: middle;
}

.idx_board .list a {
    width: 80%;
    font-size: 14px;
}

.idx_board .list span {
    width: 20%;
    text-align: right;
    font-size: 12px;
    color: #777;
}