@charset "UTF-8";
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 980px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 45px;
}
button{ font-family: 'Noto Sans KR', sans-serif;  }

/* 제목 부분 */
.content-title-outer {
	text-align: start;
	margin-top: 10px;
	padding: 7px 25px;
}
.content-title-outer p {
    font-size: 27px;
    font-weight: 650;
    margin-bottom : 45px;
    margin-top : 2px;
}
.content-title-outer span{
    text-align: left;
    margin: 2px;
    font-size : 14px;
    color : rgb(79, 79, 79);
    font-weight : 700;
}
.content-title-outer .title-count{
	margin-right : 5px;
	font-weight : 400;
}

/* ---------- 내용 ---------- */
#thumbNailImg{
	margin : 15px;
	width : 700px;
}
.toast-custom-viewer{
	font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    width: 80%;
    padding: 20px;
    height: 100%;
    min-height: 150px;
    border: 0;
    font-size: 15px;
    /* resize: none; */
}
.toast-custom-viewer img{
	max-width : 100%;
	height : auto;
}

.content-outer {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 이미지-첨부파일 부분 */
.content-attach-outer {
	position: relative;
	box-sizing: border-box;
	font-size: 14px;
	width: 97%;
	height: 50px;
	margin: 13px auto;
	display: flex;
	border-top: 1px solid #c0c0c0; 
	border-bottom: 1px solid #c0c0c0;
	background-color: rgb(249, 249, 249);
	align-items: center;
}
.content-attach-inner{ margin-left : 30px; }
.content-attach-inner p{ 
	font-size : 13px;
	color : white; 
    position: absolute;
    top: 0px;
    width: 130px;
    height: 35px;
    background: url(../../image/pledgeImg/label_green.png) no-repeat 0 0;
	}
.content-attach-inner a{ color : rgb(79, 79, 79);  }
.content-attach-inner span{
	position: absolute;
	left: 120px;
	top : 12px;
	color : #575757;
}

/* 수정 목록 삭제 버튼 */
.post-buttons{ margin: 20px 0; }
.post-buttons button a { color: rgb(63, 63, 63); }
.post-buttons button{
    cursor: pointer;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: 0;
    margin: 5px;
}

/* ---------- 댓글 ---------- */
.reply-outer-top-area{
    height: 30px;
    line-height: 30px;
    margin-left: 25px;
    font-size: 20px;
}

.reply-outer {
    background-color: #fff;
}
.reply_title {
    font-size: 17px;
    font-weight: bold;
    color: #333;
    margin-right: 10px;
}

.reply_count {
	font-weight : 500;
    font-size: 16px;
    color: #555;
    margin-left: 10px;
}



/* 댓글 표 */
.reply-outer-content-area table{
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
/*     width: 1000px; */
	width : 98%;
    margin : 10px auto;
}
.reply-table-title{
    background-color: #73cc73;
    color: white;
}
.reply-table tr th{
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
    font-size : 14px;
}
.reply-table tr,td{ 
    padding: 3px;
    margin : 3px;
    border-bottom: 1px solid rgb(227, 227, 227);
}
.reply-table th:nth-child(1){  width: 200px; }
.reply-table th:nth-child(2){  width: 600px; }
.reply-table th:nth-child(3){  width: 200px; }
.reply-table p{ white-space: pre-line; }


/* 실천서약 부분 */
#comment-section-title{
	box-sizing : border-box;
	width : 100%;
	background-color : #259c37;
	color : white;
	font-size : 19px;
	padding : 9px 30px;
	font-weight : 500;
}
#comment-section-inner{ padding : 10px;}

/* 자원순환 실천서약 작성표 */
.comment-section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 18px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color:rgb(251, 251, 251);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 10px auto;
}

/* 입력 */
#comment-section-p{
	color : #fd4000;
	font-weight : 500;
	font-size : 14px;
}

/* 실천서약 이름입력 테이블 */
#comment-section-table{border-collapse: collapse;}
#comment-section-table td { 
	height : 26px; 
	border: none; 
	padding : 5px 10px; 
	vertical-align: middle;
	}
#comment-section-table td:first-child{width : 130px;}
#comment-section-table td:nth-child(2){width : 180px; }
#comment-section-table td:nth-child(3){width : 170px; }
#comment-section-table td:nth-child(4){width : 180px; }
#comment-section-table input{height: 100%; width : 100%;}
#comment-section-table #commitment{ height : 65px; }
.comment-input {
    margin-bottom: 10px;
    height: 43px;
    width: calc(100% - 90px); /* 등록 버튼의 너비를 고려하여 입력 필드의 너비를 조정합니다. */
    display: inline-block;
}

/* 실천서약 동참하기 버튼  */
#comment-button {
    padding: 5px 15px;
    background: #ff6531;
    background: #59ca59;
    color: #fff;
    border: none;
    cursor: pointer;
    width : 220px;
    height : 45px;
    font-size : 16px;
    margin : 20px 0;
    margin-top : 28px;
    border-radius: 25px;
}
#comment-section-agree{ 
	margin-right : 200px;
	}
#comment-section-agree label{ 
	margin : 0 10px;
	font-size : 14px; 
}

/* 댓글 수정삭제버튼 */
.comment-buttons{
    display: flex;
    justify-content: flex-end;
    margin-top: -20px;
    margin-right : 6px;
}
.comment-buttons button{
    cursor: pointer;
    background-color: #82d782;
    border: 0;
    color: white;
    width: 45px;
    padding: 3px;
    margin-right: 5px;
    border-radius: 5px;
}


/* ----- 페이징 버튼 ----- */
.paging-button{
    margin-top: 23px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.pagingBtn{
    border-radius: 50%;
    width: 33px;
    height: 33px;
    font-size: 14px;
    border: 0;
    cursor: pointer;
    margin: 4px;
    font-weight: 550;
    background-color: rgb(143, 214, 143);
    color : white;
}
.pagingBtn:hover{ background-color: rgb(99, 199, 99); }




/* ------ 신고 모달창 ------ */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 10px 35px;
    padding-bottom : 30px;
    border: 1px solid #888;
    width: 70%;
    width : 700px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* 모달 닫기 버튼 */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 신고 내용 입력창 스타일 */
.modal textarea {
    width: 98%;
    height: 100px;
    margin-bottom: 10px;
    resize: none;
}

#reportButtonContainer {
    padding-bottom: 20px;
    margin-right : 10px;
}
#reportButton {
    float: right;
    padding-top: 5px;
    width : 160px;
	height : 30px;
	background: #aee3ae;
	color : #47504a;
	text-align: center;
	font-weight : 450;
	font-size : 15px;
	cursor: pointer;
}





