<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reportMapper">

	<select id="getBoardReportList" resultType="Report">
		SELECT R.REPORT_NO, P.TITLE, R.REPORT_CONTENT, R.REPORT_DATE, R.PROCESSING_DATE, R.REPORT_TARGET_NO
		FROM REPORT R
		LEFT JOIN BOARD B ON R.REPORT_TARGET_NO = B.BOARD_NO
		LEFT JOIN POST P ON P.POST_NO = B.POST_NO
		WHERE REPORT_TYPE = 1
			<if test="searchSelect == 'reportNo'">
				AND TO_CHAR(R.REPORT_NO) LIKE '%' || #{searchValue} || '%'
			</if>
			<if test="searchSelect == 'title'">
				AND P.TITLE LIKE '%' || #{searchValue} || '%'
			</if>
			<if test="searchSelect == 'reportContent'">
				AND REPORT_CONTENT LIKE '%' || #{searchValue} || '%'
			</if>
		ORDER BY
			<choose>
				<when test="sort == 'reportNo'">
					R.REPORT_NO
				</when>
				<when test="sort == 'title'">
					P.TITLE
				</when>
				<when test="sort == 'content'">
					P.CONTENT
				</when>
				<when test="sort == 'processingDate'">
					PROCESSING_DATE
				</when>
			</choose>
	</select>
	<select id="boardReportCount" resultType="int">
		SELECT COUNT(*)
		FROM REPORT R
		WHERE REPORT_TYPE = 1
			<if test="searchSelect == 'reportNo'">
				AND TO_CHAR(R.REPORT_NO) LIKE '%' || #{searchValue} || '%'
			</if>
			<if test="searchSelect == 'title'">
				AND P.TITLE LIKE '%' || #{searchValue} || '%'
			</if>
			<if test="searchSelect == 'reportContent'">
				AND REPORT_CONTENT LIKE '%' || #{searchValue} || '%'
			</if>
	</select>
	
	<select id="getCommentReportList" resultType="Report">
		SELECT R.REPORT_NO, C.CONTENT, R.REPORT_CONTENT, R.REPORT_DATE, R.PROCESSING_DATE, R.REPORT_TARGET_NO
		FROM REPORT R
		LEFT JOIN "COMMENT" C ON R.REPORT_TARGET_NO = C.COMMENT_NO
		LEFT JOIN NESTED_COMMENT NC ON R.REPORT_TARGET_NO = NC.COMMENT_NO
		LEFT JOIN BOARD B ON B.BOARD_NO = C.BOARD_NO
		LEFT JOIN POST P ON P.POST_NO = B.POST_NO
		WHERE REPORT_TYPE = 2 OR REPORT_TYPE = 3
			<if test="searchSelect == 'reportNo'">
				AND TO_CHAR(REPORT_NO) LIKE '%' || #{searchValue} || '%'
			</if>
			<if test="searchSelect == 'reportContent'">
				AND R.REPORT_CONTENT LIKE '%' || #{searchValue} || '%'
			</if>
		ORDER BY
			<choose>
				<when test="sort == 'reportNo'">
					R.REPORT_NO
				</when>
				<when test="sort == 'content'">
					C.CONTENT
				</when>
				<when test="sort == 'processingDate'">
					PROCESSING_DATE
				</when>
			</choose>
	</select>
	
	<select id="commentReportCount" resultType="int">
		SELECT COUNT(*)
		FROM REPORT R
		WHERE REPORT_TYPE = 2 OR REPORT_TYPE = 3
	</select>

	<!-- 기존 게시글 신고이력 확인 -->
	<select id="selectReport" resultType="report">
		SELECT *
		FROM REPORT
		WHERE USER_NO = #{userNo}
			AND REPORT_TYPE = 1
			AND REPORT_TARGET_NO = #{reportTargetNo}
			AND STATUS = 'Y'
	</select>

	<!-- 게시글 신고 -->
	<insert id="insertBoardReport" parameterType="report">
		INSERT INTO REPORT
		VALUES (SEQ_RPNO.NEXTVAL, #{userNo}, #{reportContent} , SYSDATE, 1, #{reportTargetNo} , NULL, NULL, 'Y')
	</insert>
	
	
	
</mapper>